/* CSS Document */
body{
	font-family: "Microsoft YaHei";
	min-height: 860px;
}
a.common-reflink{
	display: inline-block;
	border: medium double rgb(250,0,255);
	border-radius: 2px;
	outline: #00ff00 dotted thick;
	padding: 8px 18px;
	margin: 15px 0 10px 0;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.12), 
				0px 1px 2px rgba(0,0,0,0.24);
	
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	background-color: #e9686b;
	cursor: pointer;
	white-space: nowrap;
	
	
	
} 

div.dynamic-color {
	width: 600px;
	height: 300px;
	margin:0 auto;
	font-size: 48px;
	text-align: center;
	background: -webkit-linear-gradient(left,#147B96,#E6D205 25%,#147B96 50%,#E6D205 75%,#147B96);
	color: transparent;
	-webkit-background-clip: text;
	background-size: 200% 100%;
	animation: masked-animation 1s infinite linear;
}

@-webkit-keyframes masked-animation {
	0% {
	background-position:0 0;
}
100% {
	background-position:-100% 0;
}
}

/*

a.common-reflink{
	transition: height 2s ease-out;
	-moz-transition: height 2s ease-out; Firefox 4 
	-webkit-transition: height 2s ease-out; Safari and Chrome
	-o-transition: height 2s ease-out; Opera
}
a.common-reflink:hover{
	height: 300px;
}

*/